html, body {
  margin: 0;
  padding: 0;
}
canvas {
  position: relative;
  top: 500px;
  margin: auto;
  padding: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  display: block;
}
